In [1]:
L=[10,20,30,40,50,60,70]
L.append(200)
L.append(300)
print('List after adding 200 and 300',L)

L.remove(10)
L.remove(30)
print('List after removing 10 and 30',L)

L.sort()
print('List in ascending order is:',L)

L.sort(reverse=True)
print('List in descending order is:',L)

List after adding 200 and 300 [10, 20, 30, 40, 50, 60, 70, 200, 300]
List after removing 10 and 30 [20, 40, 50, 60, 70, 200, 300]
List in ascending order is: [20, 40, 50, 60, 70, 200, 300]
List in descending order is: [300, 200, 70, 60, 50, 40, 20]

In [2]:
import random

def prime(num):
    if num <= 1:
        return False
        for i in range(2,int(num**0.5)+1):
            if num%i==0:
                return False
                return True

random_numbers=[random.randint(100,900) for _ in range(100)]

odd_count=0
even_count=0
prime_count=0

odd_no=[]
even_no=[]
prime_no=[]

for num in random_numbers:
    if num%2==0:
        even_count+=1
        even_no.append(num)
    else:
        odd_count+=1
        odd_no.append(num)
    if prime(num):
        prime_count+=1
        prime_no.append(num)

print("Odd numbers are",odd_no)
print("Total Odd numbers are",odd_count)

print("Even numbers are",even_no)
print("Total even numbers are",even_count)

print("Prime numbers are",prime_no)
print("Total prime numbers are",prime_count)

Odd numbers are [315, 301, 623, 285, 885, 859, 241, 287, 703, 777, 581, 759, 463, 855, 231, 571, 345, 499, 395, 531, 121, 209, 745, 103, 529, 619, 337, 145, 643, 201, 731, 501, 653, 329, 287, 267, 481, 659, 801, 681, 651, 635, 745, 269]
Total Odd numbers are 44
Even numbers are [838, 558, 518, 654, 376, 528, 118, 510, 796, 192, 380, 314, 208, 474, 648, 852, 656, 784, 720, 524, 712, 714, 396, 102, 846, 280, 518, 408, 392, 298, 708, 780, 700, 478, 710, 214, 222, 266, 106, 428, 636, 244, 778, 172, 746, 276, 602, 338, 668, 174, 678, 640, 220, 388, 818, 174]
Total even numbers are 56
Prime numbers are []
Total prime numbers are 0

In [8]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
val=max(scores)
val1=min(scores)
print('Largest value in tuple is',val)
print('Index of maximum value is',scores.index(val))
print('Smallest value in tuple is',val1)
print('Number of times smallest value occur is',scores.count(val1))
reverse_list=list(reversed(scores))
print('Tuple as a list',reverse_list)
res=int(input("Enter the value to find"))
if res in scores:
    index=scores.index(res)
    print(f"The score {res} first occurs at index {index}")
else:
    print(f"The score {res} is not present")

Largest value in tuple is 92
Index of maximum value is 5
Smallest value in tuple is 45
Number of times smallest value occur is 2
Tuple as a list [45, 58, 92, 89, 45.4, 76, 89.5, 45]

Enter the value to find 35

The score35 is not present

In [13]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
C = A.union(B)
D = A.intersection(B)
E = A.symmetric_difference(B)
F = A.issubset(B)
val=int(input("Enter the value to remove"))
print("Union of two sets is",C)
print("Intersection of two sets is",D)
print("Symmetric Difference of two sets is",E)
print(F)
if val in A:
    A.remove(val)
    print(f"The value{val} has been removed from set")
else:
    print(f"The score {val} is not present in set")

Enter the value to remove 45

Union of two sets is {34, 45, 78, 23, 56, 90}
Intersection of two sets is {90, 78}
Symmetric Difference of two sets is {34, 45, 23, 56}
False
The score 45 is not present in set

In [14]:
sample_dict={"Name":"Kelly","Age":25,"Salary":8000,"City":"New York"}
print("Initial Dictionary :",sample_dict)
sample_dict['Location']=sample_dict.pop('City')
print("Final Dictionary:",str(sample_dict))

Initial Dictionary : {'Name': 'Kelly', 'Age': 25, 'Salary': 8000, 'City': 'New York'}
Final Dictionary: {'Name': 'Kelly', 'Age': 25, 'Salary': 8000, 'Location': 'New York'}