In [5]:
import pandas as pd

data = {
    "tid":[1,2,3,4,5,6,7,8,9,10],
    "Refund":["Yes","No","No","Yes","No","No","Yes","No","No","No"],
    "Marital Status":["Single","Married","Single","Married","Divorced","Married","Divorced","Single","Married","Single"],
    "Taxable Income":[125000,100000,70000,120000,95000,60000,220000,85000,75000,90000],
    "Cheat":["No","No","No","No","Yes","No","No","Yes","No","Yes"]
}

df = pd.DataFrame(data)
print(df)

   tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
1    2     No        Married          100000    No
2    3     No         Single           70000    No
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes
8    9     No        Married           75000    No
9   10     No         Single           90000   Yes

In [6]:
 print(df.iloc[[0, 4, 7]])

   tid Refund Marital Status  Taxable Income Cheat
0    1    Yes         Single          125000    No
4    5     No       Divorced           95000   Yes
7    8     No         Single           85000   Yes

In [8]:
print(df.iloc[3:8])
print(df.iloc[4:9,1:3])
print(df.iloc[:,1:4])

   tid Refund Marital Status  Taxable Income Cheat
3    4    Yes        Married          120000    No
4    5     No       Divorced           95000   Yes
5    6     No        Married           60000    No
6    7    Yes       Divorced          220000    No
7    8     No         Single           85000   Yes
  Refund Marital Status
4     No       Divorced
5     No        Married
6    Yes       Divorced
7     No         Single
8     No        Married
  Refund Marital Status  Taxable Income
0    Yes         Single          125000
1     No        Married          100000
2     No         Single           70000
3    Yes        Married          120000
4     No       Divorced           95000
5     No        Married           60000
6    Yes       Divorced          220000
7     No         Single           85000
8     No        Married           75000
9     No         Single           90000

In [11]:
import pandas as pd

data = {
    'Employee ID' : [101,102,103,104,105],
    'Name' : ['Alice','Bob','Charlie','Diana','Edward'],
    'Department' : ['HR','IT','IT','Marketing','Sales'],
    'Age' : [29,34,41,28,38],
    'Salary'  : [50000,70000,65000,55000,60000],
    'Years of Experience' : [4,8,10,3,12],
    'Joining Date' : ['2020-03-15','2017-07-19','2013-06-01','2021-02-10','2021-11-25'],
    'Gender' : ['Female','Male','Male','Female','Male'],
    'Bonus' : [5000,7000,6000,4500,5000],
    'Rating' : [4.5,4.0,3.8,4.7,3.5]
}

df = pd.DataFrame(data)
df.to_csv('employees.csv',index=False)

print(df)

   Employee ID     Name Department  Age  Salary  Years of Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2021-11-25    Male   5000     3.5

In [12]:
shape = df.shape
print("Shape of data frame:",shape)

Shape of data frame: (5, 10)

In [13]:
df_info = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years of Experience  5 non-null      int64
 6   Joining Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes

In [14]:
print(df.describe())

       Employee ID        Age       Salary  Years of Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

In [16]:
print("First five rows ",df.head(5))
print("Last three rows ",df.tail(3))

First five rows     Employee ID     Name Department  Age  Salary  Years of Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2021-11-25    Male   5000     3.5
Last three rows     Employee ID     Name Department  Age  Salary  Years of Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2021-11-25    Male   5000     3.5

In [18]:
print("The average salary of employees:", df['Salary'].mean())
print("The total bonus paid to all employees:", (df['Salary']*0.10).sum())
print("The youngest employee's age:", df['Age'].min())
print("The highest performance rating:", df['Rating'].max())

The average salary of employees: 60000.0
The total bonus paid to all employees: 30000.0
The youngest employee's age: 28
The highest performance rating: 4.7

In [19]:
print(df.sort_values(by='Salary', ascending=False))

   Employee ID     Name Department  Age  Salary  Years of Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2021-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

In [21]:
def categorize_performance(rating):
    if rating >= 4.5:
        return 'Excellent'
    elif rating >= 4.0:
        return 'Good'
    else:
        return 'Average'

df['Performance Category'] = df['Rating'].apply(categorize_performance)

print(df)

   Employee ID     Name Department  Age  Salary  Years of Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining Date  Gender  Bonus  Rating Performance Category
0   2020-03-15  Female   5000     4.5            Excellent
1   2017-07-19    Male   7000     4.0                 Good
2   2013-06-01    Male   6000     3.8              Average
3   2021-02-10  Female   4500     4.7            Excellent
4   2021-11-25    Male   5000     3.5              Average

In [22]:
missing_values = df.isna()

In [23]:
print("Missing values in DataFrame (True = Missing, False = Not Missing):")
print(missing_values)

Missing values in DataFrame (True = Missing, False = Not Missing):
   Employee ID   Name  Department    Age  Salary  Years of Experience  \
0        False  False       False  False   False                False
1        False  False       False  False   False                False
2        False  False       False  False   False                False
3        False  False       False  False   False                False
4        False  False       False  False   False                False

   Joining Date  Gender  Bonus  Rating  Performance Category
0         False   False  False   False                 False
1         False   False  False   False                 False
2         False   False  False   False                 False
3         False   False  False   False                 False
4         False   False  False   False                 False

In [24]:
df.rename(columns={'Employee ID': 'ID'}, inplace=True)
print(df)

    ID     Name Department  Age  Salary  Years of Experience Joining Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2021-11-25

   Gender  Bonus  Rating Performance Category
0  Female   5000     4.5            Excellent
1    Male   7000     4.0                 Good
2    Male   6000     3.8              Average
3  Female   4500     4.7            Excellent
4    Male   5000     3.5              Average

In [27]:
df['Tax'] = df['Salary'] * 0.10

print(df)

    ID     Name Department  Age  Salary  Years of Experience Joining Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2021-11-25

   Gender  Bonus  Rating Performance Category     Tax
0  Female   5000     4.5            Excellent  5000.0
1    Male   7000     4.0                 Good  7000.0
2    Male   6000     3.8              Average  6500.0
3  Female   4500     4.7            Excellent  5500.0
4    Male   5000     3.5              Average  6000.0

In [28]:
df['Tax'] = df['Salary'] * 0.10
df.to_csv('employees_with_tax.csv', index=False)

print("File 'employees_with_tax.csv' has been saved successfully.")

File 'employees_with_tax.csv' has been saved successfully.

In [5]:
import pandas as pd
file_path = r'C:\Users\harse\Downloads\archive\Iris.csv' 
iris_data = pd.read_csv(file_path)
iris_data.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
import pandas as pd
file_path = r'C:\Users\harse\Downloads\archive\Iris.csv'  
iris_data = pd.read_csv(file_path)
iris_data = iris_data.drop(index=3)
iris_data = iris_data.drop(iris_data.columns[2], axis=1)
print(iris_data.head())

   Id  SepalLengthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1            1.4           0.2  Iris-setosa
1   2            4.9            1.4           0.2  Iris-setosa
2   3            4.7            1.3           0.2  Iris-setosa
4   5            5.0            1.4           0.2  Iris-setosa
5   6            5.4            1.7           0.4  Iris-setosa